:root {
    --black-color: #ffffff;

    --bg-color: #ffffffcf;
    --bg-color-2: #ffffffcf;
    --bg-color-3: rgb(179, 119, 119);

    --main-color: #FF0000;
    --main-color-2: #ED1D24;

    --text-color: #34394b;
    --text-muted: #42464a;

    --track-color: #202324;
    --thumb-color: #334047;
    --thumb-hover-color: #596268;

    --fb-color: #3b5998;
    --google-color: #a61c00;
    --twitter-color: #1da1f2;

    --text-shadow: 1px 1px 2px rgba($color: #000000, $alpha: 0.8);
}